<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lconcise.sys.mapper.DeptRelationMapper">

    <delete id="deleteDeptRelationsById">
        DELETE
        FROM
            sys_dept_relation
        WHERE
            son IN ( SELECT temp.son FROM ( SELECT son FROM sys_dept_relation WHERE father = #{id} ) temp )
    </delete>

    <delete id="deleteDeptRelationById">
        DELETE
        FROM
            sys_dept_relation
        WHERE
                son IN ( SELECT temp.son FROM ( SELECT son FROM sys_dept_relation WHERE father = #{deptId} ) temp )
    </delete>

    <!--更新部门关系表-->
    <!--1.删除原有的表关系，找到自己的孩子，找到自己的父亲，把自己的父亲和对应的孩子删掉-->
    <!--2.插入新的表关系，找到把自己父亲当成孩子的父，自己孩子当成父亲-->
    <update id="updateDeptRelation">
        DELETE FROM sys_dept_relation
        WHERE
        `son` IN ( SELECT temp.son FROM( SELECT `son` FROM sys_dept_relation WHERE father = #{son} ) temp )
        AND `father` IN (SELECT temp.father FROM (SELECT father FROM sys_dept_relation WHERE `son` = #{son} AND `father` != `son` ) temp );

        INSERT INTO sys_dept_relation (`father`, `son`)
		SELECT a.father, b.son
		FROM sys_dept_relation a
			CROSS JOIN sys_dept_relation b
		WHERE a.son = #{father}
			AND b.father = #{son};
    </update>

</mapper>
